.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

@media screen and (min-width: 900px) {
    .navbar {
        padding: 25px 50px;
    }
}

@media screen and (min-width: 1280px) {
    .navbar {
        padding: 25px 100px;
    }
}

.website-logo {
    width: 60px;
    height: 60px;
}

.nav-button {
    height: fit-content;
    color: #64ffda;
    font-size: 13px;
    background: transparent;
    border: 1px solid #64ffda;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 4px;
}